html, body {margin: 0; height: 100%; overflow: hidden}

.ctn {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: contain;
}
.city{
    background-image: url("../images/city_night.jpg");

}
.forest {
    background-image: url("../images/combat_cave.jpg");

}
.caverne{
    background-image: url("../images/combat_cave.jpg");

}

.dialog {
    position: absolute;
    bottom: 20px;
    width: 60%;
    margin-left: 20%;
    height: 200px;
    background-image: url("../images/dialog_clean.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    color: white;
    z-index: 10;
}

.dialog_name {
    margin-left: 18.5%;
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 30%;
    text-transform: uppercase;
}

.dialog_content {
    width: 80%;
    height: 90px;
    margin-left: 10%;
    margin-top: 20px;
    color: black;
}

.player_game_start {
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 600px;
    position: absolute;
    bottom: -120px;
    left: 200px;
}

.player_ninja { 
    background-image: url("../images/ninja.png");
}
.player_guerrier { 
    background-image: url("../images/dwarf.png");
}
.player_magicien { 
    background-image: url("../images/magician.png");
}
.player_zob { 
    background-image: url("../images/zob.png");
}

.choice_quete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}


.nex_button {
    width: 100px;
    height: 50px;
    background-color: #1e1f1c;
    border-radius: 10px;
    border: 1px solid #11c930;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-left: 600px;
    cursor: pointer;
}